<div class="shaws">
  <div class="container">
    <% if params[:event_organizer] %>
      <div id="event_organizer">
        <div class="titlte_show">
          <h2 class="ff">EVENT ORGANIZER</h2>
          <div class="sara">
            <p class="descf"><%#= @event.description %></p>
          </div>
        </div>
        <div class="isi_">
          <div class="jjjj">
            <p class="isi_oo">
              Shoreditch live-edge slow-carb hexagon. 8-bit flexitarian art party pop-up. Meh flannel polaroid glossier ugh seitan keffiyeh squid. Enamel pin fam tousled fashion axe raclette, hella 90's stumptown ethical. Shabby chic kitsch irony squid kinfolk +1. Cronut selvage +1, vice humblebrag 8-bit flannel bespoke synth hell of hexagon post-ironic hashtag kitsch. Unicorn flannel fingerstache, deep v bitters mixtape chia meditation vinyl tacos yr.

              Yuccie freegan normcore, lo-fi crucifix ugh stumptown glossier photo booth offal kale chips cronut flexitarian. Fam pitchfork next level, knausgaard authentic cray green juice four loko readymade locavore swag plaid occupy. Heirloom meditation chartreuse fingerstache selvage cliche. Intelligentsia +1 readymade tbh marfa bitters. Try-hard tattooed bespoke tumblr. Snackwave neutra chicharrones godard subway tile before they sold out organic forage, twee af stumptown listicle health goth. Paleo disrupt heirloom, waistcoat ennui lo-fi glossier hella.
            </p>
          </div>
        </div>
      </div>
    <% elsif params[:corporate_gathering] %>
      <div id="event_organizer">
        <div class="titlte_show">
          <h2 class="ff">CORPORATE GATHERING</h2>
          <div class="sara">
            <p class="descf"><%#= @event.description %></p>
          </div>
        </div>
        <div class="isi_">
          <div class="jjjj">
            <p class="isi_oo">
              Shoreditch live-edge slow-carb hexagon. 8-bit flexitarian art party pop-up. Meh flannel polaroid glossier ugh seitan keffiyeh squid. Enamel pin fam tousled fashion axe raclette, hella 90's stumptown ethical. Shabby chic kitsch irony squid kinfolk +1. Cronut selvage +1, vice humblebrag 8-bit flannel bespoke synth hell of hexagon post-ironic hashtag kitsch. Unicorn flannel fingerstache, deep v bitters mixtape chia meditation vinyl tacos yr.

              Yuccie freegan normcore, lo-fi crucifix ugh stumptown glossier photo booth offal kale chips cronut flexitarian. Fam pitchfork next level, knausgaard authentic cray green juice four loko readymade locavore swag plaid occupy. Heirloom meditation chartreuse fingerstache selvage cliche. Intelligentsia +1 readymade tbh marfa bitters. Try-hard tattooed bespoke tumblr. Snackwave neutra chicharrones godard subway tile before they sold out organic forage, twee af stumptown listicle health goth. Paleo disrupt heirloom, waistcoat ennui lo-fi glossier hella.
            </p>
          </div>
        </div>
      </div>
    <% elsif params[:creative_concept] %>
      <div id="event_organizer">
        <div class="titlte_show">
          <h2 class="ff">CREATIVE CONCEPT</h2>
          <div class="sara">
            <p class="descf"><%#= @event.description %></p>
          </div>
        </div>
        <div class="isi_">
          <div class="jjjj">
            <p class="isi_oo">
              Shoreditch live-edge slow-carb hexagon. 8-bit flexitarian art party pop-up. Meh flannel polaroid glossier ugh seitan keffiyeh squid. Enamel pin fam tousled fashion axe raclette, hella 90's stumptown ethical. Shabby chic kitsch irony squid kinfolk +1. Cronut selvage +1, vice humblebrag 8-bit flannel bespoke synth hell of hexagon post-ironic hashtag kitsch. Unicorn flannel fingerstache, deep v bitters mixtape chia meditation vinyl tacos yr.

              Yuccie freegan normcore, lo-fi crucifix ugh stumptown glossier photo booth offal kale chips cronut flexitarian. Fam pitchfork next level, knausgaard authentic cray green juice four loko readymade locavore swag plaid occupy. Heirloom meditation chartreuse fingerstache selvage cliche. Intelligentsia +1 readymade tbh marfa bitters. Try-hard tattooed bespoke tumblr. Snackwave neutra chicharrones godard subway tile before they sold out organic forage, twee af stumptown listicle health goth. Paleo disrupt heirloom, waistcoat ennui lo-fi glossier hella.
            </p>
          </div>
        </div>
      </div>
    <% elsif params[:audio_visual] %>
      <div id="event_organizer">
        <div class="titlte_show">
          <h2 class="ff">AUDIO VISUAL</h2>
          <div class="sara">
            <p class="descf"><%#= @event.description %></p>
          </div>
        </div>
        <div class="isi_">
          <div class="jjjj">
            <p class="isi_oo">
              Shoreditch live-edge slow-carb hexagon. 8-bit flexitarian art party pop-up. Meh flannel polaroid glossier ugh seitan keffiyeh squid. Enamel pin fam tousled fashion axe raclette, hella 90's stumptown ethical. Shabby chic kitsch irony squid kinfolk +1. Cronut selvage +1, vice humblebrag 8-bit flannel bespoke synth hell of hexagon post-ironic hashtag kitsch. Unicorn flannel fingerstache, deep v bitters mixtape chia meditation vinyl tacos yr.

              Yuccie freegan normcore, lo-fi crucifix ugh stumptown glossier photo booth offal kale chips cronut flexitarian. Fam pitchfork next level, knausgaard authentic cray green juice four loko readymade locavore swag plaid occupy. Heirloom meditation chartreuse fingerstache selvage cliche. Intelligentsia +1 readymade tbh marfa bitters. Try-hard tattooed bespoke tumblr. Snackwave neutra chicharrones godard subway tile before they sold out organic forage, twee af stumptown listicle health goth. Paleo disrupt heirloom, waistcoat ennui lo-fi glossier hella.
            </p>
          </div>
        </div>
      </div>
    <% elsif params[:event_equipment] %>
      <div id="event_organizer">
        <div class="titlte_show">
          <h2 class="ff">EVENT EQUIPMENT</h2>
          <div class="sara">
            <p class="descf"><%#= @event.description %></p>
          </div>
        </div>
        <div class="isi_">
          <div class="jjjj">
            <p class="isi_oo">
              Shoreditch live-edge slow-carb hexagon. 8-bit flexitarian art party pop-up. Meh flannel polaroid glossier ugh seitan keffiyeh squid. Enamel pin fam tousled fashion axe raclette, hella 90's stumptown ethical. Shabby chic kitsch irony squid kinfolk +1. Cronut selvage +1, vice humblebrag 8-bit flannel bespoke synth hell of hexagon post-ironic hashtag kitsch. Unicorn flannel fingerstache, deep v bitters mixtape chia meditation vinyl tacos yr.

              Yuccie freegan normcore, lo-fi crucifix ugh stumptown glossier photo booth offal kale chips cronut flexitarian. Fam pitchfork next level, knausgaard authentic cray green juice four loko readymade locavore swag plaid occupy. Heirloom meditation chartreuse fingerstache selvage cliche. Intelligentsia +1 readymade tbh marfa bitters. Try-hard tattooed bespoke tumblr. Snackwave neutra chicharrones godard subway tile before they sold out organic forage, twee af stumptown listicle health goth. Paleo disrupt heirloom, waistcoat ennui lo-fi glossier hella.
            </p>
          </div>
        </div>
      </div>
    <% elsif params[:advertising] %>
      <div id="event_organizer">
          <div class="titlte_show">
            <h2 class="ff">ADVERTISING</h2>
            <div class="sara">
              <p class="descf"><%#= @event.description %></p>
            </div>
          </div>
          <div class="isi_">
            <div class="jjjj">
              <p class="isi_oo">
                Shoreditch live-edge slow-carb hexagon. 8-bit flexitarian art party pop-up. Meh flannel polaroid glossier ugh seitan keffiyeh squid. Enamel pin fam tousled fashion axe raclette, hella 90's stumptown ethical. Shabby chic kitsch irony squid kinfolk +1. Cronut selvage +1, vice humblebrag 8-bit flannel bespoke synth hell of hexagon post-ironic hashtag kitsch. Unicorn flannel fingerstache, deep v bitters mixtape chia meditation vinyl tacos yr.

                Yuccie freegan normcore, lo-fi crucifix ugh stumptown glossier photo booth offal kale chips cronut flexitarian. Fam pitchfork next level, knausgaard authentic cray green juice four loko readymade locavore swag plaid occupy. Heirloom meditation chartreuse fingerstache selvage cliche. Intelligentsia +1 readymade tbh marfa bitters. Try-hard tattooed bespoke tumblr. Snackwave neutra chicharrones godard subway tile before they sold out organic forage, twee af stumptown listicle health goth. Paleo disrupt heirloom, waistcoat ennui lo-fi glossier hella.
              </p>
            </div>
          </div>
      </div>
    <% elsif params[:design_graphic_design] %>
      <div id="event_organizer">
          <div class="titlte_show">
            <h2 class="ff">3D DESIGN &amp; GRAPHIC DESIGN</h2>
            <div class="sara">
              <p class="descf"><%#= @event.description %></p>
            </div>
          </div>
          <div class="isi_">
            <div class="jjjj">
              <p class="isi_oo">
                Shoreditch live-edge slow-carb hexagon. 8-bit flexitarian art party pop-up. Meh flannel polaroid glossier ugh seitan keffiyeh squid. Enamel pin fam tousled fashion axe raclette, hella 90's stumptown ethical. Shabby chic kitsch irony squid kinfolk +1. Cronut selvage +1, vice humblebrag 8-bit flannel bespoke synth hell of hexagon post-ironic hashtag kitsch. Unicorn flannel fingerstache, deep v bitters mixtape chia meditation vinyl tacos yr.

                Yuccie freegan normcore, lo-fi crucifix ugh stumptown glossier photo booth offal kale chips cronut flexitarian. Fam pitchfork next level, knausgaard authentic cray green juice four loko readymade locavore swag plaid occupy. Heirloom meditation chartreuse fingerstache selvage cliche. Intelligentsia +1 readymade tbh marfa bitters. Try-hard tattooed bespoke tumblr. Snackwave neutra chicharrones godard subway tile before they sold out organic forage, twee af stumptown listicle health goth. Paleo disrupt heirloom, waistcoat ennui lo-fi glossier hella.
              </p>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $('.comapny').addClass('active_s')  
</script>
