@media(min-width: 768px){

  .shaws {
    padding-top: 120px;
    .container {
      .titlte_show {
        text-align: center;
        .ff {
          font-family: "denseregular", sans-serif;
          color: #282828;
          font-size: 30px;
          text-transform: capitalize;
        }
        .sara {
          padding: 10px 10%;
          .descf {
            font-family: "Roboto", Helvetica, Arial;
            font-size: 14px;
            color: #797979;
            font-weight: 300;
          }
        }
      }
      .isi_ {
        #pins   {
          margin: 0 auto;
          width: 100%;
          .box {
            margin: 10px;
            width: 300px;
            text-align: center;
            img {
              max-width: 100%;
              height: auto;
            }
            h2 {
              font-size: 22px;
              margin: 0;
              padding: 25px 10px;
              a {
                color: #474747;
              }
            }
            .user {
              font-size: 12px;
              border-top: 1px solid #EAEAEA;
              padding: 15px;
              margin: 0;
            }
          }
          .panel {
            border: none !important;
            box-shadow: 0px !important;
          }
        }
        .jjjj {
          padding: 40px 15%;
          .isi_oo {
            text-align: justify;
            font-family: "Roboto", Helvetica, Arial;
            font-size: 14px;
            font-weight: 300;
            line-height: 23px;
          }
        }
      }
    }
  }
}
