<div class="contain">
  <div class="top_tit">
   <h2 class="title">Add New Testimonials</h2>
  </div>
  <div class="btn_jh">
    <div class="idis">
      <ul class="list-inline hdgwt">
        <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-folder-open" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="cont_ii">
    <%= render "testimonials/form" %>
  </div>
</div>


